# Week 2 Lab

**Datasets**:

The following datasets are used in this lab.

- [nyc_subway_stations.tsv](https://open.gishub.org/data/duckdb/nyc_subway_stations.tsv)
- [nyc_neighborhoods.tsv](https://open.gishub.org/data/duckdb/nyc_neighborhoods.tsv)

In [1]:
%pip install duckdb duckdb-engine jupysql

Requirement already satisfied: duckdb in /usr/local/lib/python3.11/dist-packages (1.1.3)
Requirement already satisfied: duckdb-engine in /usr/local/lib/python3.11/dist-packages (0.15.0)
Requirement already satisfied: jupysql in /usr/local/lib/python3.11/dist-packages (0.10.17)
Requirement already satisfied: packaging>=21 in /usr/local/lib/python3.11/dist-packages (from duckdb-engine) (24.2)
Requirement already satisfied: sqlalchemy>=1.3.22 in /usr/local/lib/python3.11/dist-packages (from duckdb-engine) (2.0.37)
Requirement already satisfied: prettytable>=3.12.0 in /usr/local/lib/python3.11/dist-packages (from jupysql) (3.12.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.11/dist-packages (from jupysql) (0.5.3)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.11/dist-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.11/dist-packages (from jupysql) (3.1.5)
Requirement already satisfied: sqlglot>=11.3.7 in /usr/local/lib/python3.11/dist-packages (from jupysql) (25.1.0)
Requirement already satisfied: jupysql-plugin>=0.4.2 in /usr/local/lib/python3.11/dist-packages (from jupysql) (0.4.5)
Requirement already satisfied: ploomber-core>=0.2.7 in /usr/local/lib/python3.11/dist-packages (from jupysql) (0.2.26)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.11/dist-packages (from ploomber-core>=0.2.7->jupysql) (6.0.2)
Requirement already satisfied: posthog in /usr/local/lib/python3.11/dist-packages (from ploomber-core>=0.2.7->jupysql) (3.8.4)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prettytable>=3.12.0->jupysql) (0.2.13)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=1.3.22->duckdb-engine) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=1.3.22->duckdb-engine) (4.12.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.11/dist-packages (from jinja2->jupysql) (3.0.2)
Requirement already satisfied: requests<3.0,>=2.7 in /usr/local/lib/python3.11/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.32.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.17.0)
Requirement already satisfied: monotonic>=1.5 in /usr/local/lib/python3.11/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.6)
Requirement already satisfied: backoff>=1.10.0 in /usr/local/lib/python3.11/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.2.1)
Requirement already satisfied: python-dateutil>2.1 in /usr/local/lib/python3.11/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2024.12.14)

In [2]:
import duckdb

%load_ext sql

In [3]:
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

In [5]:
%sql duckdb:///:memory:
# %sql duckdb:///path/to/file.db

## Question 1: Creating Tables

Create a database, then write a SQL query to create a table named `nyc_subway_stations` and load the data from the file `nyc_subway_stations.tsv` into it. Similarly, create a table named `nyc_neighborhoods` and load the data from the file `nyc_neighborhoods.tsv` into it.

In [6]:
# Add your code here.

%%sql
CREATE TABLE nyc_subway_stations AS SELECT * FROM 'https://open.gishub.org/data/duckdb/nyc_subway_stations.tsv';
CREATE TABLE nyc_neighborhoods AS SELECT * FROM 'https://open.gishub.org/data/duckdb/nyc_neighborhoods.tsv';

Empty DataFrame
Columns: [Success]
Index: []

from matplotlib import pyplot as plt
import seaborn as sns
def _plot_series(series, series_name, series_index=0):
  palette = list(sns.palettes.mpl_palette('Dark2'))
  counted = (series['index']
                .value_counts()
              .reset_index(name='counts')
              .rename({'index': 'index'}, axis=1)
              .sort_values('index', ascending=True))
  xs = counted['index']
  ys = counted['counts']
  plt.plot(xs, ys, label=series_name, color=palette[series_index % len(palette)])

fig, ax = plt.subplots(figsize=(10, 5.2), layout='constrained')
df_sorted = _df_0.sort_values('index', ascending=True)
_plot_series(df_sorted, '')
sns.despine(fig=fig, ax=ax)
plt.xlabel('index')
_ = plt.ylabel('count()')

In [8]:
%%sql
SELECT * FROM nyc_subway_stations;

,OBJECTID,ID,NAME,ALT_NAME,CROSS_ST,LONG_NAME,LABEL,BOROUGH,NGHBHD,ROUTES,TRANSFERS,COLOR,EXPRESS,CLOSED
0,1,376.0,Cortlandt St,None,Church St,"Cortlandt St (R,W) Manhattan","Cortlandt St (R,W)",Manhattan,None,"R,W","R,W",YELLOW,None,NaN
1,2,2.0,Rector St,None,None,Rector St (1) Manhattan,Rector St (1),Manhattan,None,1,1,RED,None,NaN
2,3,1.0,South Ferry,None,None,South Ferry (1) Manhattan,South Ferry (1),Manhattan,None,1,1,RED,None,NaN
3,4,125.0,138th St,Grand Concourse,Grand Concourse,"138th St / Grand Concourse (4,5) Bronx","138th St / Grand Concourse (4,5)",Bronx,None,"4,5","4,5",GREEN,None,NaN
4,5,126.0,149th St,Grand Concourse,Grand Concourse,149th St / Grand Concourse (4) Bronx,149th St / Grand Concourse (4),Bronx,None,4,"2,4,5",GREEN,express,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,487,909.0,JFK Terminal 8,None,None,"JFK Terminal 8, Queens",JFK Terminal 8,Queens,None,None,None,AIR-BLUE,None,NaN
487,488,903.0,Federal Circle,Rental Car,None,"Federal Circle / Rental Car, Queens",Federal Circle / Rental Car,Queens,None,None,None,AIR-BLUE,None,NaN
488,489,902.0,Long Term Parking,None,None,"Long Term Parking, Queens",Long Term Parking,Queens,None,None,None,AIR-BLUE,None,NaN
489,490,901.0,Howard Beach,None,159th Ave,"Howard Beach, Queens",Howard Beach,Queens,None,None,A,AIR-BLUE,None,NaN
490,491,900.0,Jamaica,Sutphin Blvd,Sutphin Blvd,"Jamaica / Sutphin Blvd, Queens",Jamaica / Sutphin Blvd,Queens,None,None,"E,J,Z",AIR-BLUE,None,NaN

In [10]:
%%sql
SELECT * FROM nyc_neighborhoods;

          BORONAME                      NAME
0         Brooklyn               Bensonhurst
1        Manhattan              East Village
2        Manhattan              West Village
3        The Bronx              Throggs Neck
4        The Bronx  Wakefield-Williamsbridge
..             ...                       ...
124       Brooklyn                  Red Hook
125         Queens   Douglastown-Little Neck
126         Queens                Whitestone
127         Queens                  Steinway
128  Staten Island                  Rosebank

[129 rows x 2 columns]

## Question 2: Column Filtering

Write a SQL query to display the `ID`, `NAME`, and `BOROUGH` of each subway station in the `nyc_subway_stations` dataset.

In [11]:
# Add your code here.

%%sql
SELECT ID, NAME, BOROUGH FROM nyc_subway_stations;

        ID               NAME    BOROUGH
0    376.0       Cortlandt St  Manhattan
1      2.0          Rector St  Manhattan
2      1.0        South Ferry  Manhattan
3    125.0           138th St      Bronx
4    126.0           149th St      Bronx
..     ...                ...        ...
486  909.0     JFK Terminal 8     Queens
487  903.0     Federal Circle     Queens
488  902.0  Long Term Parking     Queens
489  901.0       Howard Beach     Queens
490  900.0            Jamaica     Queens

[491 rows x 3 columns]

## Question 3: Row Filtering

Write a SQL query to find all subway stations in the `nyc_subway_stations` dataset that are located in the borough of Manhattan.

In [12]:
# Add your code here.

%%sql
SELECT * FROM nyc_subway_stations WHERE BOROUGH = 'Manhattan';

,OBJECTID,ID,NAME,ALT_NAME,CROSS_ST,LONG_NAME,LABEL,BOROUGH,NGHBHD,ROUTES,TRANSFERS,COLOR,EXPRESS,CLOSED
0,1,376.0,Cortlandt St,None,Church St,"Cortlandt St (R,W) Manhattan","Cortlandt St (R,W)",Manhattan,None,"R,W","R,W",YELLOW,None,NaN
1,2,2.0,Rector St,None,None,Rector St (1) Manhattan,Rector St (1),Manhattan,None,1,1,RED,None,NaN
2,3,1.0,South Ferry,None,None,South Ferry (1) Manhattan,South Ferry (1),Manhattan,None,1,1,RED,None,NaN
3,25,296.0,W 4th St,None,6th Ave,"W 4th St (B,D,F,V) Manhattan","W 4th St (B,D,F,V)",Manhattan,None,"B,D,F,V","A,B,C,D,E,F,V",ORANGE,express,NaN
4,242,121.0,103rd St,None,Lexington Ave,103rd St (6) Manhattan,103rd St (6),Manhattan,None,6,6,GREEN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,374,72.0,Wall St,None,William St,"Wall St (2,3) Manhattan","Wall St (2,3)",Manhattan,None,"2,3","2,3",RED,express,NaN
136,375,378.0,Whitehall St,South Ferry,Water St,"Whitehall St / South Ferry (R,W) Manhattan","Whitehall St / South Ferry (R,W)",Manhattan,None,"R,W","R,W",YELLOW,None,NaN
137,383,491.0,Cortlandt St,None,West Broadway,Cortlandt St (1) Manhattan,Cortlandt St (1),Manhattan,None,1,1,CLOSED,None,True
138,480,492.0,World Trade Center,Chambers St,Church St,World Trade Center / Chambers St (E) Manhattan,World Trade Center / Chambers St (E),Manhattan,None,E,"A,C,E,2,3",BLUE,None,NaN
139,481,99.0,Times Sq,42nd St,7th Ave/Broadway,"Times Sq (1,2,3) Manhattan","Times Sq / 42nd St (1,2,3)",Manhattan,None,"1,2,3","A,C,E,N,Q,R,S,W,1,2,3,7",RED,express,NaN

## Question 4: Sorting Results

Write a SQL query to list the subway stations in the `nyc_subway_stations` dataset in alphabetical order by their names.

In [13]:
# Add your code here.

%%sql
SELECT * FROM nyc_subway_stations ORDER BY NAME;

,OBJECTID,ID,NAME,ALT_NAME,CROSS_ST,LONG_NAME,LABEL,BOROUGH,NGHBHD,ROUTES,TRANSFERS,COLOR,EXPRESS,CLOSED
0,244,22.0,103rd St,None,Broadway,103rd St (1) Manhattan,103rd St (1),Manhattan,None,1,1,RED,None,NaN
1,243,192.0,103rd St,None,Central Park West,"103rd St (A,B,C) Manhattan","103rd St (A,B,C)",Manhattan,None,"A,B,C","A,B,C",BLUE-ORANGE,None,NaN
2,242,121.0,103rd St,None,Lexington Ave,103rd St (6) Manhattan,103rd St (6),Manhattan,None,6,6,GREEN,None,NaN
3,376,174.0,103rd St,Corona Plaza,Roosevelt Ave,103rd St / Corona Plaza (7) Queens,103rd St / Corona Plaza (7),Queens,None,7,7,PURPLE,None,NaN
4,377,239.0,104th St,None,Liberty Ave,104th St (A) Queens,104th St (A),Queens,None,A,A,BLUE,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,72,138.0,Woodlawn,None,Jerome Ave,Woodlawn (4) Bronx,Woodlawn (4),Bronx,None,4,4,GREEN,None,NaN
487,480,492.0,World Trade Center,Chambers St,Church St,World Trade Center / Chambers St (E) Manhattan,World Trade Center / Chambers St (E),Manhattan,None,E,"A,C,E,2,3",BLUE,None,NaN
488,240,334.0,Wyckoff Ave,Myrtle Ave,Myrtle Ave,Wyckoff Ave / Myrtle Ave (M) Brooklyn,Wyckoff Ave / Myrtle Ave (M),Brooklyn,None,M,"L,M",BROWN,None,NaN
489,241,303.0,York St,None,Jay St,York St (F) Brooklyn,York St (F),Brooklyn,None,F,F,ORANGE,None,NaN
490,73,152.0,Zerega Ave,None,Westchester Ave,Zerega Ave (6) Bronx,Zerega Ave (6),Bronx,None,6,6,GREEN,None,NaN

## Question 5: Unique Values

Write a SQL query to find the distinct boroughs represented in the `nyc_subway_stations` dataset.

In [ ]:
# Add your code here.

%%sql

## Question 6: Counting Rows

Write a SQL query to count the number of subway stations in each borough in the `nyc_subway_stations` dataset.

In [ ]:
# Add your code here.

## Question 7: Aggregating Data

Write a SQL query to list the number of subway stations in each borough, sorted in descending order by the count.

In [ ]:
# Add your code here.

## Question 8: Joining Tables

Write a SQL query to join the `nyc_subway_stations` and `nyc_neighborhoods` datasets on the borough name, displaying the subway station name and the neighborhood name.

In [ ]:
# Add your code here.

## Question 9: String Manipulation

Write a SQL query to display the names of subway stations in the `nyc_subway_stations` dataset that contain the word "St" in their names.

In [ ]:
# Add your code here.

## Question 10: Filtering with Multiple Conditions

Write a SQL query to find all subway stations in the `nyc_subway_stations` dataset that are in the borough of Brooklyn and have routes that include the letter "R".

In [ ]:
# Add your code here.

Once you've completed your attempt, you can check your answers [here](https://github.com/oballinger/CASA0025/blob/main/notebooks/W02_lab_solution.ipynb).